/* Write your code here. */
li {
  list-style-type: none;
  width: 100%;
}
.heading {
  margin: 8px;
  padding: 15px;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: #1e293b;
}
.headingWithName {
  padding: 15px;
  margin: 8px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #64748b;
}
.thumbnailImgContainer {
  display: flex;
  flex-direction: row;
}
.image {
  width: 100%;
  margin: 12px;
}
@media screen and (max-width: 578px) {
  li {
    width: 25%;
  }
}
